node1 aynesh 127.0.0.1 50000 3000 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar
node2 aynesh 127.0.0.1 50001 3001 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar
node3 aynesh 127.0.0.1 50002 3002 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar
node4 aynesh 127.0.0.1 50003 3003 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar
node5 aynesh 127.0.0.1 50004 3004 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar
node6 aynesh 127.0.0.1 50005 3005 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar