node1 aynesh 127.0.0.1 50000 3000 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar /home/aynesh/node1/
node2 aynesh 127.0.0.1 50001 3001 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar /home/aynesh/node2/
node3 aynesh 127.0.0.1 50002 3002 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar /home/aynesh/node3/
node4 aynesh 127.0.0.1 50003 3003 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar /home/aynesh/node4/
node5 aynesh 127.0.0.1 50004 3004 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar /home/aynesh/node5/
node6 aynesh 127.0.0.1 50005 3005 /home/aynesh/Desktop/Praktikum/gr6/ms2-server.jar /home/aynesh/node6/